*
{
    padding: 0;
    margin: 0;
}

h2gh
{
    font-size: 40px;
    font-family: MontserratMedium;
}

span
{
    font-size: 20px;
    font-weight: bold;
    font-family: MontserratMedium;
    display: block;
}

.wrapScroll
{
    background-image: url("../image/wrap.jpg");
    background-size: cover;
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;

    width: 100%;
    margin: auto;
    min-width: 1024px;
}

.wrap
{
    width: 90%;
    margin: auto;
    min-width: 1024px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.7), -3px -3px 10px rgba(0,0,0,0.7);
    background-color: rgba(200, 200, 200, 0.7);
}
/*---------------------------------------------------------------------------*/
.header
{
    justify-content: space-around;
    width: 100%;
    height: 100px;
    border-bottom: solid 2px black;
}

.header .logo
{
    width:25%;
    float: left;
}

.header img
{
    margin-left: 100px;
    margin-top: 35px;
    float: left;
}
.menu
{
    float: right;
    margin-right: 20px;

}

.menu ul
{
    list-style: none;
    margin-top: 40px;
}

.menu ul li
{
    font-family: NunitoSans-Regular;
    padding: 15px;
    display: inline;
    border-radius: 10px;
    cursor: pointer;
}

.menu ul li a
{
    text-decoration: none;
    color: black;
}

.menu ul li:hover
{
    transition: all ease 2s;
    background-color: grey;
}

.menu ul li:hover > a
{
    transition: all ease 2s;
    color: white;
}
/*---------------------------------------------------------------------------*/
.footer
{
    width: 100%;
    min-width: 720px;
    height: 200px;
    margin:auto;
    opacity: 80%;
    background-color: black;
}
/*---------------------------------------------------------------------------*/